{% extends "base.html" %}

<!-- Main Content Section -->
{% block content %}

	<h1> Login </h1>

	<div class='col-4'>
		<p> You successfully registered an account. A pre-funded web3 wallet has been automatically created for you. Ideally you should use your own web3 wallet for example via Metamask. But in this prototype implementation accounts are handled for you via the server backend. <br> <br>

		Please login to continue..
		</p>
	</div>
		<form method='POST' action='.'> {% csrf_token %}
		    {{ form.as_p }}
		    <button type='submit'>Login</button>
		</form> 
    
{% endblock %}